* {
}

.login {
    width: 100%;
    padding: 0% 0 0;
    margin: auto;
    margin-top: 80px;
}

.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
  /*  height: 800px;*/
    width: 800px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 #b3b3b3, 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}


body {
    background: linear-gradient(-135deg, #505160, #68829E);
}

#Image1 {
    float: left;
    width: 300PX;
    height: 250px;
}

    #Image1:hover {
        transform: scaleX(-1);
    }

.txtname {
    background-color: transparent;
    color: #505160;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid cornflowerblue 2px;
    padding: 3px 10px;
    width: 200px;
}

#Button1 {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 25px;
    line-height: 1.5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #57b846;
    text-transform: uppercase;
    color: white;
    /*margin-left: 50px;*/
}

    #Button1:hover {
        color: white;
        background-color: #505160;
    }

.forgot {
    margin-top: 12px;
}

#LinkButton1 {
    text-decoration: none;
    color: cornflowerblue;
    margin-left: 35px;
}

    #LinkButton1:hover {
        color: forestgreen;
    }

.craccount {
    margin-top: 45px;
}

#LinkButton2 {
    text-decoration: none;
    color: cornflowerblue;
    margin-left: 365px;
}

    #LinkButton2:hover {
        color: forestgreen;
    }

#Label1 {
    font-family: Poppins-Bold;
    font-size: 28px;
    color: #505160;
    line-height: 1.2;
    background-color: white;
    width: 100%;
    display: block;
    padding-bottom: 54px;
    text-shadow: 4px 4px 4px black;
}

#Forgotbtn {
    width: 100px;
    height: 50px;
    background-color: forestgreen;
    color: white;
    border-radius: 8px;
}

    #Forgotbtn:hover {
        color: white;
        background-color: #505160;
    }

#forgotback:hover {
    color: white;
    background-color: #505160;
}

#forgotback {
    width: 100px;
    height: 50px;
    background-color: forestgreen;
    color: white;
    border-radius: 8px;
}

#Label2 {
    color: red;
}
